<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <span class="text-danger" *ngIf="registrationForm.controls['firstname'].dirty && registrationForm.hasError('required','firstname')">First Name is required</span>
                      <input type="text" id="firstname" formControlName="firstname" class="form-control" placeholder="Enter your First Name"/>
                      <label class="form-label" for="firstname">First Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <span class="text-danger" *ngIf="registrationForm.controls['lastname'].dirty && registrationForm.hasError('required','lastname')">Last Name is required</span>
                      <input type="email" id="lastname" formControlName="lastname" class="form-control" placeholder="Enter your Last Name"/>
                      <label class="form-label" for="lastname">Last Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <span class="text-danger" *ngIf="registrationForm.controls['email'].dirty && registrationForm.hasError('required','email')">Email Address is required</span>
                      <span class="text-danger" *ngIf="registrationForm.controls['email'].dirty && registrationForm.hasError('email','email')">Email Address is Invalid</span>
                      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your Email Address"/>
                      <label class="form-label" for="email">Email Address</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <span class="text-danger" *ngIf="registrationForm.controls['password'].dirty && registrationForm.hasError('required','password')">Password is required</span>
                      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your Password"/>
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <span class="text-danger" *ngIf="registrationForm.controls['mobile'].dirty && registrationForm.hasError('required','mobile')">Mobile is required</span>
                      <input type="number" id="mobile" formControlName="mobile" class="form-control" placeholder="Enter your Mobile"/>
                      <label class="form-label" for="mobile">Mobile</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" placeholder=""/>
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary btn-lg"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>&nbsp;&nbsp;Register</button>
                    <a routerLink="../logon" class="btn btn-link">Already have account</a>
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
